<% layout('layout/page') -%>
<% block('title', "Игровое поле") -%>
<script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
<script src="/vendor/bower_components/socket.io-client/dist/socket.io.js"></script>
<script src="Game_engine/game_engine.js"></script>
<!--<script src="Game_engine/sprite.js"></script>-->
<div id="body">
    <div id="field">
        <div id="thinking">Беру, завалил(</div>
        <div id="enemy_card">
        </div>
        <div id="game_table">
            <div id='display'></div>
            <div id="game_field">
                <div id="enemy_field"></div>
                <div id="player_field"></div>
            </div>
            <div id="block_deck">
                <div id = 'index'>111</div>
                <div id='deck'></div>
                <div id="advantage"></div>
            </div>
            <button id="button" class="btn btn-default btn-sm" style="margin: 30px 0 0 20px;" onclick="Foolgame.init();">
            Найти игру
            </button>
        </div>
        <div id="player_cards">
        </div>
    </div>
    <div class="chat">
        <h2>Чат</h2>
        <div id="room">
            <ul class="media-list"></ul>
            <form>
               <input disabled class="form-horizontal" autocomplete="off" autofocus placeholder="Сообщение...">
            </form>
        </div>
    </div>
</div>
<script src="chat_room/chat.js"></script>
