<% layout('layout/page') -%>
<% block('title', "Игровое поле") -%>

<script src="/vendor/bower_components/socket.io-client/dist/socket.io.js"></script>
<script src="/Game_engine/game_engine.js"></script>
<script src="Game_engine/sprite.js"></script>
<div id="body">
    <div id="field">
        <div id="game_table">

        </div>
    </div>

    <div class="chat">
        <h2>Чат</h2>
        <div id="room">
            <ul class="media-list"></ul>
            <form>
               <input disabled class="form-horizontal" autocomplete="off" autofocus placeholder="Сообщение...">
            </form>
        </div>
    </div>

</div>
<script>
    // create the Scene object
    var scene = sjs.Scene({w:640, h:480});

    // load the images in parallel. When all the images are
    // ready, the callback function is called.
    scene.loadImages(['/resourse/sourse.png'], function() {

        // create the Sprite object;
        var sp = scene.Sprite('/resourse/sourse.png');

        // change the visible size of the sprite
        sp.size(55, 30);

        // apply the latest visual changes to the sprite
        // (draw if canvas, update attribute if DOM);
        sp.update();

        // change the offset of the image in the sprite
        // (this works the opposite way of a CSS background)
        sp.offset(50, 50);

        // various transformations
        sp.move(100, 100);
        sp.rotate(3.14 / 4);
        sp.scale(2);
        sp.setOpacity(0.8);

        sp.update();
    });
    var input = $('#room input');
    var ul = $('#room ul');
    var form = $('#room form');

    var socket = io.connect('', {
        reconnect: false
    });

    socket
            .on('message', function(username, message) {
                printMessage(username + "> " + message);
            })
            .on('leave', function(username) {
                printStatus(username + " вышел из чата");
            })
            .on('join', function(username) {
                printStatus(username + " вошёл в чат");
            })
            .on('connect', function() {
                printStatus("соединение установлено");
                form.on('submit', sendMessage);
                input.prop('disabled', false);
            })
            .on('disconnect', function() {
                printStatus("соединение потеряно");
                form.off('submit', sendMessage);
                input.prop('disabled', true);
                this.$emit('error');
            })
            .on('logout', function() {
                location.href = "/";
            })
            .on('error', function(reason) {
                if (reason == "handshake unauthorized") {
                    printStatus("вы вышли из сайта");
                } else {
                    setTimeout(function() {
                        socket.socket.connect();
                    }, 500);
                }
            });

    function sendMessage() {
        var text = input.val();
        socket.emit('message', text, function() {
            printMessage("я> " + text);
        });

        input.val('');
        return false;
    }

    function printStatus(status) {
        $('<li>').append($('<i>').text(status)).appendTo(ul);
    }

    function printMessage(text) {
        $('<li>').text(text).appendTo(ul);
    }

</script>