body {
    background-color: #111122;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #3071a9;
}

a {
    color: #00B7FF;
}
.chat {
    font-style:italic;
    width: 20%;
    float: left;
}
#field
{
    min-height: 50px;
    width: 80%;
    float: left;
}
#game_table{
    margin: 8%;
    min-height: 320px;
    min-width: 400px;
    background-color: green;
    border-radius: 60px;
    border: 10px double black;
}
#body
{
    height: 100%;
    background: red;
}