body {
    background-color: #111122;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #3071a9;
}

a {
    color: #00B7FF;
}
.chat {
    font-style:italic;
    width: 20%;
    float: right;
}
.dropdown-menu{
    background-color: #222222;
}
#field
{
    min-height: 50px;
    width: 80%;
    float: left;
}
#deck{
    background-color: #ffff00;
    width: 53px;
    height: 74px;
    float:right;
    margin: 40px 15px auto;
}
.cards{
    background: url(/resourse/sourse_2.jpg);
    width: 53px;
    height: 74px;
    float: left;
    margin-left: 5px;
    box-shadow: 1px 5px 10px rgba(21, 20, 18, 0.78);
    border-radius: 4px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.enemy_cards{
    background: url(/resourse/sourse_2.jpg);
    width: 53px;
    height: 74px;
    float: left;
    margin-left: 5px;
    box-shadow: 1px 5px 10px rgba(21, 20, 18, 0.78);
    border-radius: 4px;
}
.cards:hover{
    margin-top: -5px;
    cursor: pointer;
    box-shadow: 1px 5px 10px rgba(82, 122, 255, 0.92);
}

#player_cards{
    margin-left: 19%;
    /*margin: auto;*/
    /*background-color: #ffff00;*/
    height: 67px;
    width: 360px;
}
#enemy_card{
    margin-top: 2%;
    margin-left: 19%;
    /*margin: 180px auto;*/
    /*background-color: #ffff00;*/
    height: 67px;
    width: 360px;
}
#game_table{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
    background-color: green;
    height: 320px;
    width: 500px;
    border-radius: 60px;
    border: 10px double black;
}
#body
{
    height: 100%;
   /* background: red;*/
}